body {
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: rgb(50, 168, 50);
}
.quem-somos{
    background-color: rgb(146, 146, 214);
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.Parceiros{
    background-color:rgb(27, 114, 114);
    color: antiquewhite;
}
.bg-footer{
    background-color: black;
    color: white;
}